name: PR_build

on:
  # Runs when a pull request is created against main branch
  pull_request:
    branches:
      - main

env:
  PKG_NAME: "enos"

jobs:
  build-artifact:
    name: Build Linux Artifact
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux]
        goarch: [amd64]
      fail-fast: true
    outputs:
      artifact-name: ${{ steps.build.outputs.artifact-name }}
    env:
      GOPRIVATE: 'github.com/hashicorp/*'
      TOKEN: ${{ secrets.ELEVATED_GITHUB_TOKEN }}
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
      CI: true
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
      - name: Get Product Version
        id: get-product-version
        run: |
          make version
          echo "product-version=$(make version)" >> "$GITHUB_OUTPUT"
      - uses: ./.github/actions/build
        id: build
        with:
          goarch: ${{ matrix.goarch }}
          goos: ${{ matrix.goos }}
          version: ${{ steps.get-product-version.outputs.product-version }}
      - name: Upload
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ env.PKG_NAME }}_${{ steps.get-product-version.outputs.product-version }}_${{ matrix.goos }}_${{ matrix.goarch }}.zip
          path: out/${{ env.PKG_NAME }}_${{ steps.get-product-version.outputs.product-version }}_${{ matrix.goos }}_${{ matrix.goarch }}.zip
          retention-days: 1

  validate-artifact:
    name: Validate Artifact
    needs: build-artifact
    # Use local path to call reusable workflow validate.yml.
    uses: ./.github/workflows/validate.yml
    with:
      artifact-name: ${{ needs.build-artifact.outputs.artifact-name }}
    secrets: inherit
